@import "base/all-base";
@import "tools/all-tools";
@import "components/all-components";

html {
  height: 100%;
  font-size: 100%;
  text-size-adjust: 100%;
  min-width: 100%;

  @media (max-width: 67.0625em) {
    font-size: 95%;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background: $blue;
  color: $white;
  text-shadow: none;
}

html,body, .container {
  width: 100%;
  height: auto;
  margin: 0;
  @include font-primary;
  font-weight: 100;
}

body {
  line-height: 1.4;
  transition: transform .5s cubic-bezier(.47,-0.71,.45,1.65);
  overflow-x: hidden;
}

.site {
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;

  &-content {
    height: 100%;
    width: 100%;
    min-width: 100%;
  }
}

.no-scroll {
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 80em;
  margin: 0 auto;
  padding: 0 2em;
  padding: 0 4vw;
}
