// -------------------------------------
// Default Color Scheme for Style Kit
// -------------------------------------

$white    : #FFF;
$black    : #000;
$gray     : #C1C4C6;

$red      : #FC2531;
$orange   : #FF4621;
$green    : #39D32D;
$blue     : #0066FF;
$navy     : #2D4F73;
$yellow   : #FFC864;


// Dialexa Color Variables
//=========================================
$dx-galaxy-blue     : #14282D;
$dx-sultan-gold     : #D6B064;
$dx-neutral-gray    : #D6D7D9;
$dx-neutral-dark    : #C2C3C5;
$dx-neutral-light   : #F3F3F3;
$dx-body-gray       : #525252;
$dx-green           : #98CE80;
$dx-orange-red      : #F0553D;


// Color Palette Modifiers
//=========================================
$palettes: (
  gray: (
    xx-light  : #F8F8F8,
    x-light   : lighten($gray, 18%),
    light     : lighten($gray, 10%),
    base      : $gray,
    dark      : darken($gray, 15%),
    x-dark    : #353637,
    xx-dark   : darken($gray, 34%),
  ),
  blue: (
    x-light   : lighten($blue, 20%),
    light     : lighten($blue, 10%),
    base      : $blue,
    dark      : darken($blue, 10%),
    x-dark    : darken($blue, 20%)
  ),
  green: (
    x-light   : lighten($green, 20%),
    light     : lighten($green, 10%),
    base      : $green,
    dark      : darken($green, 10%),
    x-dark    : darken($green, 20%)
  ),
  dialexa: (
    galaxy-blue       : $dx-galaxy-blue,
    sultan-gold       : $dx-sultan-gold,
    neutral-gray      : $dx-neutral-gray,
    neutral-dark      : $dx-neutral-dark,
    neutral-light     : $dx-neutral-light,
    body-gray         : $dx-body-gray,
    green             : $dx-green,
    orange-red        : $dx-orange-red
  ),
  brands: (
    facebook  : #3B5998
  )
);

@function palette($palette: 'gray', $shade: 'base') {
  @return map-get(map-get($palettes, $palette), $shade);
}


// UI Color Scheme
//=========================================
$ui-colors: (
  error         : $red,
  warning       : $orange,
  normal        : $blue,
  success       : $green,
  saving        : lighten($green,10%),
  info          : $blue,
  white         : $white,
  transparent   : rgba($white, 0),
  disabled      : $gray,
  active        : $green,
  default       : $blue,
  pending       : $gray,
  fulfilled     : $green,
  rejected      : $red
);

.inactive {
  opacity: .4;
}
