$size-base: 1em;
$font-family--primary: 'Aaux-Next';
$font-family--secondary: 'Freight-Text-Pro';
$font-family--monospace: 'Source Code Pro';

@mixin font-primary {
  font-family: $font-family--primary, sans-serif;
}

.font--primary {
  @include font-primary;
}

@mixin font-monospace {
  font-family: $font-family--monospace, monospace;
}

@mixin font-primary {
  font-family: $font-family--primary;
}

@mixin font-secondary($case: null) {
  font-family: $font-family--secondary;
  font-weight: 300;

  @if $case == 'upper' {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.font--secondary {
  @include font-secondary;
}


// Font Sizes
//====================================================
$font-sizes: (
  body: (
    xx-small: 0.625rem,
    x-small: 0.75rem,
    small: 0.875rem,
    default: 1rem,
    large: 1.125rem,
    x-large: 1.5rem,
  ),

  title: (
    x-small: 12,
    small: 16,
    default: 18,
    large: 21,
    x-large: 32,
    xx-large: 40,
    jumbo: 60
  )
);

@function font-size($font-size: 'body', $size: 'default') {
  @return map-get(map-get($font-sizes, $font-size), $size);
}


// Line Heights
//====================================================
$line-heights: (
  body: (
    x-small: .5,
    small: 1,
    default: 1.5,
    large: 1.875,
    x-large: 2
  ),

  title: (
    x-small: 1,
    small: 1.1,
    default: 1.5,
    medium: 1.875,
    large: 2,
   )
);

@function line-height($line-height: 'body', $size: 'default') {
  @return map-get(map-get($line-heights, $line-height), $size);
}


// Font Weights
//====================================================
$font-weights: (
  light: 100,
  regular: 300,
  medium: 500,
  heavy: 600,
  x-heavy: 700
)!default;

@function font-weight($weight: 300) {
  @return map-get($font-weights, $weight);
}


// Headers
//====================================================
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: font-weight(regular);
  line-height: $size-base * 1.5;

  @media (max-width: 64em) {
    line-height: 1.25;
  }
}

h1 {
  font-size: $size-base * 3.25;

}
h2 {
  font-size: $size-base * 3;
}
h3 {
  font-size: $size-base * 2;
}
h4 {
  font-size: $size-base * 1.5;
}
h5 {
  font-size: $size-base * 1.25;
}
h6 {
  font-size: $size-base * 1.125;
}


// Paragraphs
//====================================================
p {
  font-size: $size-base;
  line-height: $size-base * 1.5;
}


// Links
//====================================================
a {
  color: $blue;
  text-decoration: underline;
  transition: all .1s ease-in-out;

  &:hover,
  &:focus {
    color: rgba($blue, .7);
  }

  &:active,
  &:hover {
    outline: 0;
  }

  &:focus {
    outline: 0
  }
}

.faux-link {
  @extend a;
  &:hover {
    cursor: pointer;
  }
}


// Content Block Elements
//====================================================
dl,
menu,
ol,
ul,
p,
pre {
  margin: 0 0 $size-base;
}

// Lists
//====================================================
menu,
ol,
ul {
  padding: 0 0 0 $size-base * 2;
}

.unordered-list {
  &--lg {
    li {
      line-height: line-height(body, x-large);
    }
  }
}
