@import "base/all-base";
@import "tools/all-tools";
@import "components/all-components";
@import "layouts/all-layouts";

html {
  height: 100%;
  font-size: 100%;
  text-size-adjust: 100%;

  @media (max-width: 67.0625em) {
    font-size: 95%;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background: $blue;
  color: $white;
  text-shadow: none;
}

html,body, .container {
  width: 100%;
  height: auto;
  margin: 0;
  @include font-primary;
  font-weight: 100;
}

body {
  background: palette(gray,xx-light);
  line-height: 1.4;
  transition: transform .5s cubic-bezier(.47,-0.71,.45,1.65);
  overflow-x: hidden;
  @include gmq('portable') {
    overflow-x: scroll;
    min-width: 1024px;
  }
}

.site {
  min-height: 100vh;
  display: flex;

  &-content {
    min-height: 100vh;
    width: 100%;
  }
}

.no-scroll {
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1em;

  &--push-down.container {
    height: auto;
    margin-top: 2em;
  }
}
