// COLORS

// Set up these basic colors, and recommended usage is to lighten and darken within the palettes.

$white    : #fff;
$gray     : #c0c2c1;

$red      : #F64744;
$orange   : #FB822C;
$green    : #4BC16B;
$blue     : #1EAAF1;
$navy     : #2D4F73;
$yellow   : #EC9F3C;

$dx-blue  : #14282D;
$dx-gold  : #D6B064;
$dx-gray  : #525252;


// Color Palette Modifiers
$palettes: (
  gray: (
    xx-light  : #f8f8f8,
    x-light   : lighten($gray, 20%),
    light     : lighten($gray, 10%),
    base      : $gray,
    dark      : darken($gray, 25%),
    x-dark    : darken($gray, 40%),
    xx-dark    : darken($gray, 50%),
  ),
  blue: (
    x-light   : lighten($blue, 20%),
    light     : lighten($blue, 10%),
    base      : $blue,
    dark      : darken($blue, 10%),
    x-dark    : darken($blue, 20%),
    dx-blue   : $dx-blue
  ),
  green: (
    x-light   : lighten($green, 20%),
    light     : lighten($green, 10%),
    base      : $green,
    dark      : darken($green, 10%),
    x-dark    : darken($green, 20%)
  ),
  dialexa: (
    blue      : $dx-blue,
    gold      : $dx-gold,
    gray      : $dx-gray,
  ),
  brands: (
    facebook  : #3b5998,
    parkhub   : $blue,
    prime     : $orange
  )
);


@function palette($palette: 'gray', $shade: 'base') {
  @return map-get(map-get($palettes, $palette), $shade);
}

$ui-colors: (
  dark          : palette(gray, dark),
  x-dark        : palette(gray, x-dark),
  error         : $red,
  alarm         : $red,
  warning       : $orange,
  normal        : $orange,
  success       : $green,
  saving        : lighten($green,10%),
  info          : $blue,
  gold          : $yellow,
  white         : $white,
  transparent   : rgba($white, 0),
  disabled      : $gray,
  active        : $green,
  danger        : $red,
  default       : $orange,
  pending       : $gray,
  fulfilled     : $green,
  rejected      : $red
);


.inactive {
  opacity: .4;
}
