.page-wrapper {
  margin: 0 2em 0 10em;
}

.page-header {
  width: 100%;
  height: 50px;
  margin-top: 16px;
  @include display-flex(row,center,space-between);
  border-bottom: 1px solid palette(gray, dark);

  &--sales {
    border-bottom: none;
    justify-content: inherit;
    margin: 0;

    .page-header__title {
      margin-right: .25em;
    }

    &-space {
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: none;
      margin: 0;

      &--title {
        .page-header__see-more {
          margin-top: .75em;
        }
        .page-header__title {
          margin-right: .25em;
        }
      }
    }
  }

  &__title,
  .is-healthy {
    display: inline-block;
    vertical-align: bottom;
  }

  &__title {
    align-self: flex-start;
    font-size: 1.875em;
    line-height: 1.4em;
  }

  &__info {
    display: flex;
    align-items: center;

    &--id {
      margin-right: .5em;
      font-size: 1.25em;
      font-weight: 500;
    }
    &--link {
      font-style: italic;
    }
  }

  &__see-more {
    text-decoration: none;
    font-size: .875em;
    font-weight: 500;
    color: $orange;
    font-style: italic;
  }
}

.create-nav {
  align-self: baseline;
}
