.split-section {
  background: palette(gray, light);
  padding: 0;

  &:nth-of-type(even) {
    background: $white;

    @include gmq(desk) {
      .container {
        flex-direction: row-reverse;
      }
      .split-section__text {
        padding-left: 4em;
        padding-right: 0;
      }
    }
  }

  &--blue {
    @include gmq(desk) {
      .split-section__text {
        background: palette(blue, bright);
        padding: 4em !important;
        > h2,
        > p {
          color: $white;
        }
      }
    }
  }

  &--orange {
    @include gmq(desk) {
      .split-section__text {
        background: $orange;
        padding: 4em !important;
        > h2,
        > p {
          color: $white;
        }
      }
    }
  }


  .container {
    display: flex;

    @include gmq(portable) {
      flex-direction: column;
      text-align: center;

      .split-section__text {
        padding: 3em 0;
        max-width: 37.5em;
        margin: 0 auto;
      }

      .split-section__number {
        margin-top: 40px;
        width: 60px;
      }
    }
  }

  &__text,
  &__img {
    flex: 0 0 50%;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  &__img {
    background-size: cover;
  }

  &__text {
    padding-right: 4em;

    .section__header {
      font-weight: 600;
      margin-bottom: 0;
      color: palette(gray, x-dark);
      text-transform: none;
      font-size: 1.5em;
    }
    .section__body {
      font-size: 1.125em;
    }
  }
}


.sales-split__container,
.pricing-profile__container {
  padding: 2em;
  border-bottom: 1px solid palette(gray);
}

.pricing-profile__container {
  border-bottom: none;
}

.sales-split--head {
  font-size: 1.875em;
  color: palette(gray,dark);
  text-align: center;
  margin-bottom: .5em;

  &.lot-pricing {
    width: 100%;
    text-align: left;
    margin-bottom: .75em;
    padding: .75em 0;
    border-bottom: 1px solid $gray;
  }
}
.sales-split--body {
  font-size: 3em;
  text-align: center;
  font-weight: 500;
}
