%base-btn {
  background: transparent;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1em 1.5em;
  letter-spacing: 2px;
}

.tab__btns {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 100%;
  border-bottom: 1px solid lighten($gray, 3%);

  @include gmq(palm) {
    flex-direction: column;
    text-align: center;
  }

  @include gmq(lap) {
    font-size: .875em;
  }

  &--btn {
    @extend %base-btn;
    color: palette(gray, dark);

    &:hover {
      box-shadow: $blue 0 -1px 0 0 inset;
      color: palette(gray, x-dark);
    }

    &.active {
      box-shadow: $blue 0 -2px 0 0 inset;
      color: palette(gray, x-dark);
    }
  }

}
