.more-info {
  min-height: 12px;
  margin-bottom: 6px;

  .search-row--icon {
    height: 14px;
  }
}

.ember-tether {
  position: absolute;
  z-index: $zIndex-1;
}

#wormhole-tooltip {
  position: fixed;
  bottom: 1em;
  right: 1em;

  .tooltip {
    margin-bottom: 1em;
  }
}

.tooltip {
  text-shadow: none;
  background: $white;
  min-width: 20em;
  max-width: none;
  border-radius: 5px;
  pointer-events: all;
  padding: 0;
  top: 0;
  z-index: $zIndex-1;
  box-shadow: rgba(black,.2) 0 4px 4px 0;

  &__label {
    color: $blue;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .075em;
    line-height: 2;
  }

  &__header {
    padding: 1em .75em;
    position: relative;
    border-bottom: 1px solid palette(gray,light);

    h5 {
      font-size: 1.2em;
      font-weight: 700;
      text-align: left;
    }
  }

  &__body {
    padding: 1em 1em;

    li, p {
      color: palette(gray,x-dark);
    }

    ul {
      margin: 0;
    }

    li {
      list-style: inside;
      margin-bottom: .45em;
    }

    &__row {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      font-size: 1.125em;
    }
  }

  &.wormhole {
    animation: fadeInUp .4s;
    position: relative;
    top: 0;
    user-select: all;
    border-radius: 3px;
    box-shadow: rgba(black,.2) 0 4px 4px 0;
    border: none;

    .tooltip__header {
      cursor: pointer;
      padding: 2.5em 1.5em;
      text-align: center;

      h4 {
        color: palette(gray,x-dark);
        font-size: 3.875em;
        font-weight: 700;
        line-height: 1;
        margin-left: -12px;
        margin-bottom: 12px;

        sup {
          top: -1em;
          font-size: 0.4em;
        }
      }
    }

    .tooltip__body {
      padding: 1.5em 1.5em;
    }

    .flex-container--between {
      margin-bottom: .5em;

      h6 {
        font-size: 12pt;
        color: $gray;
      }
    }

    p {
      margin: 0;
      margin-left: 2em;
    }

    .card-icon {
      @include wh(30px,20px);
      margin-right: .5em;
      background-repeat: no-repeat;
    }

    &:after {
      content: "";
      background: 15px/15px no-repeat url('images/invalid.svg');
      background-position: 50% 50%;
      background-color: $white;
      position: absolute;
      top: -8px;
      right: -8px;
      opacity: 1;
      @include wh(30px,30px);
      @include dp-shadow();
      border-radius: 30px;
      transform: none;
      pointer-events: none;
    }
  }
}
