%typeahead-item {
  background: palette(gray,xx-light);
  border-radius: 3px;
  border: 1px solid palette(gray);
  color: palette(gray, x-dark);
  cursor: pointer;
  display: inline-block;
  font-size: .775em;
  line-height: 2.4;
  list-style: none;
  margin: .25em;
  padding: .1em 0 0 .5em;
}

.type-ahead {
  margin-bottom: 1em;
  width: 100%;

  &__input-wrapper {
    background: $white;
    position: relative;
    border: 1px solid palette(gray);
    border-radius: 3px;
    outline: none;
    color: palette(gray, x-dark);
    display: flex;
    min-height: 40px;
  }

  &__input {
    list-style: none;
    flex: 1;
    display: flex;
    min-width: 6em;

    ::-webkit-input-placeholder {
      @extend %typeahead-item;
      background: lighten(palette(gray,xx-light), 1%);
      border-color: palette(gray,light);
      color: darken($gray, 7%);
      line-height: .1;
      margin: -.75em;
      max-width: 3vw;
      padding: .7em;
    }

    input.input {
      background: none;
      border: none;
      flex: 1;
      margin-bottom: 0;
      padding: .5em;
      width: 100%;

      &:focus {
        &::-webkit-input-placeholder {
          transition: opacity .8s cubic-bezier(.3,0,0,1.3);
          opacity: 0;
        }
      }
    }

    button {
      padding: 0 5px;
      margin: 5px;
      background: palette(gray,x-light);

      &:hover {
        background: palette(gray,light);
      }

      .icon-add {
        @include wh(20px, 20px);
        opacity: .6;
        use { fill: transparent; }
      }
    }
  }


  &__selected {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    &__item {
      @extend %typeahead-item;
      transition: background .2s;
      user-select: none;

      &:hover {
        background: rgba(palette(gray,xx-light),.8);
      }

      .btn {
        font-size: .25em;
        margin-left: .5em;
        height: 20px;

        .icon-remove {
          width: 14px;
          height: 14px;
          fill: palette(gray,dark);
          margin: -2px;
        }
      }
    }
  }

  &__results {
    &__list {
      background: palette(gray,xx-light);
      border-radius: 0 0 3px 3px;
      border: 1px solid palette(gray);
      border-top: none;
      font-size: .875em;
      margin-top: -3px;
      margin: 0;
      max-height: 11.275em;
      overflow: scroll;
      padding: 3px .5em 0 .5em;

    }

    &__item {
      border-bottom: 1px solid palette(gray);
      cursor: pointer;
      list-style: none;
      padding: .5em;
      transition: background .2s;

      .icon-cw {
        @include wh(16px, 16px);
        margin-top: 2px;
        path { fill: palette(gray,dark); }
      }

      &.active {
        background: $white;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: $white;
      }
    }
  }
}
