$modal-border-radius: 3px;
$modal-sizes: (
  small: (
    class-name: 'sm',
    width: 375px,
    max-height: 400px
  ),
  medium: (
    class-name: 'md',
    width: 450px,
    max-height: 400px
  ),
  large: (
    class-name: 'lg',
    width: 800px,
    max-height: 800px
  ),
  x-large: (
    class-name: 'x-lg',
    width: calc(100vw - 2em),
    max-height: calc(100vh - 2em)
  )
);

%modal {
  @include center();
  position: fixed;
  background: white;
  box-shadow: 0 3px 15px rgba(0,0,0,.25);
  border-radius: $modal-border-radius;
  @include pop();
  z-index: $zIndex-10;

  @include gmq(palm) {
    min-width: 90vw;
  }
}

%modal-btn {
  padding: 1em;
  border-top: 1px solid $gray;
  font-size: 1.125em;
  padding: 1em .5em;
  @extend %label;
  color: $white;
}

.modal-container {
  @include s-overlay(black, 0.3);
  z-index: $zIndex-10;
  @include pop();
  min-height: 100vh;
  position: fixed;

  &--full-screen {
    @include s-overlay($white,1);
    z-index: $zIndex-9;
  }
}

// Applied to site wrapper
.modal--open {
  z-index: 1200;
  overflow: hidden;
  width: 100%;
}

.modal {
  @extend %modal;

  &--full-screen {
    @include center(v);
    @include gmq(ipad) {
      margin-top: -30%;
    }
  }

  &__header {
    padding: 1em;
    position: relative;
    background: palette(gray,x-dark);
    border-radius: $modal-border-radius $modal-border-radius 0 0;
    text-align: center;
  }

  &__body {
    overflow: scroll;
    max-height: 390px;
    overflow: auto;
    text-align: center;

    .container {
      padding: 1.5em;
    }

    input {
      text-align: center;
    }
  }

  &__footer {
    display: flex;

    .modal-btn {
      border: none;
      flex: 1;
      padding: 1em;
      border-top: 1px solid palette(gray, light) !important;
      color: palette(gray, x-dark);
      background: $white;
      font-weight: 500;

      & + & {
        border-left: 1px solid palette(gray, light);
      }

      &:first-child {
        border-radius: 0 0 0 $modal-border-radius;
      }

      &:last-child {
        border-radius: 0 0 $modal-border-radius 0;
      }

      &:only-child {
        border-radius: 0 0 $modal-border-radius $modal-border-radius;
      }
    }
  }

  &__title {
    font-size: 1.125em;
    letter-spacing: 1.83px;
    text-transform: uppercase;
    color: $white;
  }

  &__text {
    padding-bottom: 1em;

    @include gmq(palm) {
      font-size: .875em;
    }
  }
}

// Modal Sizes
//====================================
@each $item, $size in $modal-sizes {
  $class: map-get($size, class-name);
  $width: map-get($size, width);
  $maxHeight: map-get($size, max-height);

  .modal--#{$class} {
    width: $width;
    max-height: $maxHeight;
  }
}
