%pill {
  padding: .3em 1em;
  border-radius: 50px;
  font-weight: 400;
  font-size: .75em;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pill {
  @extend %pill;
  background: $blue;
  color: $white;
}

@each $theme, $color in $ui-colors {
  .pill--#{$theme} {
    background: $color;
    color: $white;
  }
}
