$sections: (
  sm: 1,
  md: 3,
  lg: 6,
  xl: 10
);

$border-dirs: ( 'border-bottom' 'border-top' 'border-left' 'border-right' );

section {
  padding: 3em 0;

  @include gmq(desk) {
    padding: 4em 0;
  }
}

@each $size, $em in $sections {
  $portraitEm: $em * 0.75;

  .section--#{$size} {
    padding: #{$em}em 0;

    @include gmq(portrait) {
      padding: #{$portraitEm}em 0;
    }
  }
}

.section {
  &--center {
    [class*='section__header'] {
      text-align: center;
    }
  }

  &__body {
    font-weight: 400;
    color: palette(gray,x-dark);
  }

  &__header {
    font-size: 1.875em;
    font-weight: 400;
    letter-spacing: 1px;
    color: palette(gray,x-dark);
    margin-bottom: .5em;
  }

  @each $dir in $border-dirs {
    &--#{$dir} {
      #{$dir}: 1px solid darken($gray, 7%);
    }
  }
}
