.more-info {
  min-height: 12px;
  margin-bottom: 6px;

  .search-row--icon {
    height: 14px;
  }
}

.ember-tether {
  position: absolute;
  z-index: $zIndex-1;
}

#wormhole-tooltip {
  position: fixed;
  bottom: 1em;
  right: 1em;

  .tooltip {
    margin-bottom: 1em;
  }
}

.tooltip {
  text-shadow: none;
  background: $white;
  min-width: 20em;
  max-width: none;
  border-radius: 5px;
  pointer-events: all;
  padding: 0;
  top: 0;
  z-index: $zIndex-1;
  box-shadow: rgba(black,.2) 0 4px 4px 0;

  &__label {
    color: $blue;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .075em;
    line-height: 2;
  }

  &__header {
    padding: 1em .75em;
    position: relative;
    border-bottom: 1px solid palette(gray,light);

    h5 {
      font-size: 1.2em;
      font-weight: 700;
      text-align: left;
    }
  }

  &__body {
    padding: 1em 1em;

    li, p {
      color: palette(gray,x-dark);
    }

    ul {
      margin: 0;
    }

    li {
      list-style: inside;
      margin-bottom: .45em;
    }

    &__row {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      font-size: 1.125em;
    }
  }
}
