// COLORS

// Set up these basic colors, and recommended usage is to lighten and darken within the palettes.

$white    : #fff;
$gray     : #c0c2c1;

$red      : #d73d1d;
$orange   : #ef832b;
$green    : #81d234;
$blue     : #084f7d;
$green    : #83D041;
$yellow   : #EC9F3C;


// Color Palette Modifiers
$palettes: (
  gray: (
    xx-light  : lighten($gray, 30%),
    x-light   : lighten($gray, 20%),
    light     : lighten($gray, 10%),
    base      : $gray,
    dark      : darken($gray, 15%),
    x-dark    : darken($gray, 25%),
  ),
  blue: (
    x-light   : lighten($blue, 20%),
    light     : lighten($blue, 10%),
    base      : $blue,
    dark      : darken($blue, 10%),
    x-dark    : darken($blue, 20%)
  ),
  orange: (
    x-light   : lighten($orange, 20%),
    light     : lighten($orange, 10%),
    base      : $orange,
    dark      : darken($orange, 10%),
    x-dark    : darken($orange, 20%)
  ),
  green: (
    x-light   : lighten($green, 20%),
    light     : lighten($green, 10%),
    base      : $green,
    dark      : darken($green, 10%),
    x-dark    : darken($green, 20%)
  ),
  brands: (
    facebook  : #3b5998,
    parkhub   : $blue,
    prime     : $orange
  )
);


@function palette($palette: 'gray', $shade: 'base') {
  @return map-get(map-get($palettes, $palette), $shade);
}

$ui-colors: (
  dark          : palette(gray, dark),
  x-dark        : palette(gray, x-dark),
  error         : $red,
  alarm         : $red,
  warning       : $orange,
  normal        : $orange,
  success       : $green,
  saving        : lighten($green,10%),
  info          : $blue,
  gold          : $yellow,
  facebook      : palette(brands, facebook),
  'white'       : $white,
  'transparent' : rgba($white, 0),
  disabled      : $gray,
  refresh       : lighten(palette(blue,bright), 15%),
  active        : $green,

  danger        : $red,

  default       : $orange,
  pending       : $gray,
  fulfilled     : $green,
  rejected      : $red
) !default;


.inactive {
  opacity: .4;
}
