@import './mixins';

// ------------------------
// POSITIONING
// ------------------------

$declarations: ( "padding" "margin" );
$pixels: ( "6" "12" "18" "24" "32" "48" "64" );
$dirs: ( "top" "bottom" "left" "right" "none" );

@each $declaration in $declarations {
  @each $dir in $dirs {
    @if $dir == "none" {
      @each $pixel in $pixels {
        .#{$declaration}--#{$pixel} {
          #{$declaration}: #{$pixel}px !important;
        }
      }
    } @else {
      .#{$declaration}-#{$dir} {
        #{$declaration}-#{$dir}: 1em !important;

        @each $pixel in $pixels {
          &--#{$pixel} {
            #{$declaration}-#{$dir}: #{$pixel}px !important;
          }
        }
      }
    }
  }
}

.abs-center {
  @include center();

  &--horizontal {
    @include center(h);
  }

  &--vertical {
    @include center(v);
  }
}



// ------------------------
// LAYOUT
// ------------------------

.flex-container {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--center {
    align-items: center;
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-around {
    justify-content: space-around;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}



// ------------------------
// TYPE
// ------------------------

.text {
  &--bold {
    font-weight: 600;
  }

  &--italic {
    font-style: italic;
  }

  &--lower {
    text-transform: lowercase;
  }

  &--upper {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &--center {
    text-align: center;
  }

  &--size {
    $sizes: "75" "80" "85" "90" "95" "105" "110" "115" "120" "125";

    @each $size in $sizes {
      &--#{$size} {
        font-size: #{$size}%;
      }
    }
  }

  &--weight {
    $weights: "100" "200" "300" "400" "500" "600" "700" "800" "900";

    @each $weight in $weights {
      &--#{$weight} {
        font-weight: #{$weight};
      }
    }
  }
}
